@import url("variables.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid tomato;        */
}
/**************/

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 2rem;
}

.container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.searchInput {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 60%;
  max-width: 300px;
  margin-bottom: 1rem;
}

.buttonSearch{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.3rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  text-align: left;
}

h2{
  color: #055bDF;
}